.field{
    --fieldInputHeight: var(--input-height);
    --fieldInputTextColor: var(--color-dark);
    --fieldInputBgColor: var(--color-light);
    --fieldInputBorderColor: var(--color-dark);
    --fieldInputPlaceholderColor: var(--color-gray-alt);
    --fieldInputHoverBgColor: var(--color-accent);


    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;



    @include mobile{
        row-gap: 10px;
    }

    &--big-height{
          --fieldInputHeight: var(--button-height);


    }

    &--dark-bg{
         --fieldInputTextColor: var(--color-accent);
          --fieldInputBgColor: var(--color-dark-alt);
            --fieldInputBorderColor: var(--color-light);
              --fieldInputPlaceholderColor: var(--color-light);
                --fieldInputHoverBgColor: var(--color-dark);


    }

    &__label{
        @include fluid-text(16, 14);

    }

    &__input{
        width: 100%;
        height: var(--fieldInputHeight);
        color: var(--fieldInputTextColor);
        background-color: var(--fieldInputBgColor);
        padding-inline: 30px;
        border: 1px solid var(--fieldInputBorderColor);
        border-radius: var(--border-radius);
        @include mobile{
            padding-inline: 20px;
        }

        @include hover{
            background-color: var(--fieldInputHoverBgColor);

        }

        &:focus{
            border-color: var(--color-accent);
            outline: none;

        }

        &::placeholder{
            color: var(--fieldInputPlaceholderColor);
        }

        &--textarea{
            height: 190px;
            padding-block: 18px;
            resize: none;
            @include mobile{
                height: 132px;
            }
        }
    }


 
}

   .field:has([required]) .field__label::after,
.radios:has([required]) .radios__legend::after {
  content: "*";
  padding-inline: 0.25em;
  color: red;
}
.field__errors {
  display: flex;
  flex-direction: column;
  row-gap: 0.4em;
  margin-top: 0.5em;
  font-size: 0.8em;
  color: red;
  line-height: 1.25;
}

.field__errors:empty {
  display: none;
}